* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Chelsea Market', cursive;
    color: #FFF;
}

.navbar-light{
    padding: 1rem !important;
}

.navbar-toggler{
    border-color: #fff !important;
    border-radius: 1px !important;
}

.navbar-toggler:active,.navbar-toggler:focus{
    outline: none !important;
    outline-color: none !important;
}
.navbar-toggler-icon{
    cursor: pointer;
    background-image: url('./menu.png') !important;
}

.nav-link{
    color: #FFF !important;
}

.logo-mobile{
    width: 50%;
    height: auto;
}
.social-networks{
    width: 50%;
}

.section-container {
    background-image: url('./paris.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-info{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.title-home{
    margin: 0 0 .4em 0;
}

.description{
    margin: 0 0 1em 0;
    font-size: 1em;
}
.btn-play{
    text-align: left;
    padding: 0;
}


.btn-play:active,.btn-play:focus{
    outline: none !important;
    outline-color: none !important;
    box-shadow: none;
}

.img-play{
    width: 30%;
}



span{
    color: #FFF;
    font-size: 1em;
}
@media (min-width: 768px) {
    .logo-mobile{
        width: 70%;
    }
    .social-networks{
        width: 15%;
    }
    .description{
        font-size: 1.1em;
        width: 86%;
    }
}


@media (min-width: 992px) {
    
    .navbar-pc{
        width: 25%;
    }

    .logo-pc{
        width: 50%;
    }
    .navbar-menu-list{
        width: 35%;
    }
    .navbar-menu-search{
        width: 40%;
    }
    .description{
        font-size: 1.1em;
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .navbar-pc{
        width: 25%;
    }
    .logo-pc{
        width: 60%;
    }
    .navbar-menu-list{
        width: 40%;
    }
    .navbar-menu-search{
        width: 35%;
    }
    .social-networks{
        width: 25%;
    }
    .description{
        font-size: 1.1em;
        width: 60%;
    }
}


@media (min-width: 1200px) {
    .logo-pc{
        width: 50%;
    }
    .navbar-menu-list{
        width: 30%;
    }

    .navbar-menu-search{
        width: 45%;
    }

    .social-networks{
        width: 25%;
    }
    .section-container {
        background-position: top;
    }

    .description{
        font-size: 1.1em;
        width: 45%;
    }

}
